<!DOCTYPE html>
<html>
	<head>	
		<meta charset="UTF-8"/>
		<title>main</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/stylesheet.css">
        <title>{% block title %}{% endblock %}</title>
	</head>


	<body>

		<div class="container">

			<div class="navbar navbar-inverse">
				<nav class="navbar-inner">
					<a class="brand" href="/main/">Leventa</a>
					<ul class="nav">
						<li class="divider-vertical"></li>
						<li><a href="/main/"><i class="icon-home"></i>Главная</a></li>
						<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment" ></i>Сообщения<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/messages/inbox/">Входящие : {{ root.inbox }}</a> </li>
                                <li><a href="/messages/outbox/">Исходящие : {{ root.outbox }}</a></li>
                            </ul>
                        </li>

						<li><a href="/main/photo/"><i class="icon-picture"></i>Фото</a></li>
						<li><a href="/main/authors/"><i class="icon-user"></i>Авторы</a></li>
						<li><a href="/accounts/edit_profile/"><i class="icon-wrench"></i>Профиль</a></li>
						<li><a href="/accounts/logout/"><i class="icon-off"></i>Выход</a></li>
						<li><a href="#">В сети: {{ user.username }}</a></li>
					</ul>
				</nav>
			</div>


			<div class="row">


				<div class="span3">
					<center><img src="{{ profile.photo.url }}"/></center>
					<p><strong><center>{{ user.username }}</center></strong></p>
					{% if user != root %}
					<a href="/messages/new/?id={{ user.id }}"><center><button class="btn btn-inverse">Написать автору</button></center></a>
					{% endif %}
					<p>Публикаций:    {{ amount }}   </p>
					<p>Имя:           {{ user.first_name  }}</p>
					<p>Фамилия:       {{ user.last_name  }}</p>
					<p>email:         {{ user.email  }}</p>
					<p>День рождения: {{ user.profile.birthday  }}</p>
					<p>О себе:        {{ user.profile.about  }}</p>
				</div>


				{% block content %}
				{% endblock %}


				<div class="span3">
					<h3>Публикации:</h3>
					{% for publication in publications %}
					<li><a class="Pub" href="/main/open/?id={{ publication.id }}">{{ publication.article }}</a></li>
					{% endfor %}
					{% if user == root %}
					<a href="/main/add_pub/"><button class="btn btn-inverse">Добавить публикацию</button></a>
					{% endif %}
				</div>

			</div>

			<div class="row" >
				<div class="span12" >
					<div id="footer">
					&copy; 2015 Сервис Микроблогов
					</div>
				</div>
			</div>

		</div>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>
