<!DOCTYPE html>
<html>
	<head>	
		<meta charset="UTF-8"/>
		<title>authorization</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<style>
		.well{
		margin-top:50px;
		}
		</style>
	</head>
	
	<body>
		<div class="container">
			<div class="row">
				<div class="well span4 offset4" >
					<legend>Регистрация</legend>
					<form method="post" action="/accounts/registration/" enctype="multipart/form-data">
                        {% csrf_token %}
						<label>Login</label>
						{{ form_user.username }}
						<label>Password</label>
						{{ form_user.password1 }}
						<label>Confirm password</label>
						{{ form_user.password2 }}

        				{{ form_profile.as_p }}

						<button type="submit" class="btn btn-block btn-inverse">Submit</button>
					</form>
				</div>
			</div>
		</div>

		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>