{% extends "base.html" %}

{% block title %}Сообщения{% endblock %}

{% block content %}
<div class="span6" >
    <h3>Входящие сообщения:</h3>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th><left>Время</left></th>
                <th><left>Автор</left></th>
                <th><center>Тема</center></th>
            </tr>
        </thead>
        <tbody>
            {%for message in messages %}
                <tr>
                    <td>{{ message.time }}</td>
                    <td><strong><a href="/main/author/?id={{ message.user1.id }}">{{ message.user1 }}</a></strong></td>
                    <td><a href="/messages/show_message/?id={{ message.id }}&button=1">{{ message.title }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}